@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center><h1>Trash Collector</h1></center>
    <center><p class="lead">Welcome to your friendly Milwaukee neighborhood trash collection crew.</p></center>
</div>
<center><img src="~/Images/Garbage-Man-5.jpg" /></center>